@media (max-width:576px) {
    .asideInner{
        width: 100%;
    }
    .chatInner{
        /* display: none !important; */
        transform: scale(0);
        width: 0;
        padding: 0 !important;
    }
    .chatInner.show{
        transform: scale(1);
        width: 100%;
        padding: 30px !important;
    }
    .chatInner .toggleButton{
        display: block !important;
    }
    .message p{
        max-width: 100%;
    }
}


@media (min-width:576px) {
    .asideInner{
        width: 100%;
    }
    .chatInner{
        /* display: none !important; */
        transform: scale(0);
        width: 0;
        padding: 0 !important;
    }
    .chatInner.show{
        transform: scale(1);
        width: 100%;
        padding: 30px !important;
    }

    .message p{
        max-width: 100%;
    }
}
@media (min-width:768px) {
    .chatInner{
        display: flex !important;
        transform: scale(1);
        width: 100%;
        padding: 30px !important;
    }
    .asideInner{
        width: 40%;
    }
    .message p{
        max-width: 80% !important;
    }
}
@media (min-width:992px) {
    .asideInner{
        width: 30%;
    }
    .message p{
        max-width: 50% !important;
    }
}
@media (min-width:1200px) {
    .asideInner{
        width: 25%;
    }
    .chatInner .toggleButton{
        display: none !important;
    }
}
@media (min-width:1400px) {
    .asideInner{
        width: 20%;
    }
}