/* add Friends modal */
.addFriendsModal .modal-content{
    min-height: 80vh;
}
.searchResult{
    height: 60vh;
    overflow: auto;
}
.addFriendSearch input{
    background: black;
    border: 1px solid var(--color-gray);
    color: white !important;
}
.addFriendSearch input:focus{
    background: black;
    border: 1px solid var(--color-gray);
    box-shadow: 0 0 0 .25rem rgba(118, 119, 119, 0.25);
}

.addFriendSearch input::placeholder{
    color: var(--color-gray);
}
.addFriendsModal .searchResultItem{
    padding: 12px;
    margin: 8px 0;
    border-radius: 12px;
    border: 1.5px solid var(--color-gray);
    cursor: pointer;
    transition: all .1s linear;
}
.addFriendsModal .searchResultItem:hover{
    background: black;
}
.addFriendsModal .searchResultItem .userProfile img{
width: 50px;
height: 50px;
object-fit: cover;
border-radius: 50%;
}
.addFriendsModal .searchResultItem p { 
    color: var(--color-gray);
}

/* create group  */
.addFriendsInGroup .friends{
    max-height: 150px;
    overflow: scroll;
    overflow-x: hidden;
}
.addFriendsInGroup .friends .friendsItem{
    width: 100%;
    padding: 6px;
    border-radius: 12px;
    transition: all .2s linear;
    margin: 4px ;
}
.addFriendsInGroup .friends .friendsItem .userProfile img{
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 50%;
}
.addFriendsInGroup .friends .friendsItem:hover{
    background: var(--color-black);
    cursor: pointer;
}
.addFriendsInGroup .selectedFriends{
    overflow-x: scroll;
}
.addFriendsInGroup .selectedFriendsItem img{
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    border-radius: 50%;
}
.addFriendsInGroup .selectedFriendsItem .closeButton{
    background: rgba(255, 0, 0, 0.517);
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    right: -10px;
    color: var(--color-white);
}
.addFriendsInGroup .friends .friendsItem.selected{
    background: var(--color-black);
}

.addFriendsInGroup .searchIcon i{
font-size: 18px;
color: var(--color-gray);
}


/* editGroupAdmin  */
.editGroupAdmin{
    z-index: 99999;
}
.editGroupAdmin .adminItem .adminProfile img{
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 50%;
}
.editGroupAdmin .adminItem .adminProfile .closeButton{
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255, 0, 0, 0.733);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.editGroupAdmin .adminItem .adminProfile .closeButton:hover{
    background: red;
}
.editGroupAdmin .groupMemberItem{
    padding: 6px 12px;
    margin: 4px 0;
}
.editGroupAdmin .groupMemberItem img{
   width: 2.6rem;
   height: 2.6rem;
   border-radius: 50%;
   object-fit: cover;
   margin-right: 12px;
}
.editGroupAdmin .groupMemberItem:hover,.editGroupAdmin .groupMemberItem.active{
    background: var(--color-black-light);
    cursor: pointer;    
}
.editGroupAdmin .loader {
    background: #000000a1;
    z-index: 999999;
}